/* Indentation. */
div.doc-contents:not(.first) {
  padding-left: 25px;
  border-left: 4px solid rgba(230, 230, 230);
  margin-bottom: 20px;
}

.toc-item-span {
  overflow: hidden;
  display: inline;
  overflow-wrap: break-word;
  word-wrap: break-word;
}